Lab1/NetBeansProjects/WSClient/src/wsdl/localhost_8080/AAAWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.lab1.cappaipastorini.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AAAWSImplService" targetNamespace="http://server.lab1.cappaipastorini.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.lab1.cappaipastorini.it/" elementFormDefault="unqualified" targetNamespace="http://server.lab1.cappaipastorini.it/" version="1.0">

  <xs:element name="getClients" type="tns:getClients"/>

  <xs:element name="getClientsResponse" type="tns:getClientsResponse"/>

  <xs:complexType name="getClients">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getClientsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:clientImpl"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clientImpl">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getClients">
    <wsdl:part element="tns:getClients" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientsResponse">
    <wsdl:part element="tns:getClientsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AAAWS">
    <wsdl:operation name="getClients">
      <wsdl:input message="tns:getClients" name="getClients">
    </wsdl:input>
      <wsdl:output message="tns:getClientsResponse" name="getClientsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AAAWSImplServiceSoapBinding" type="tns:AAAWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClients">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getClients">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClientsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AAAWSImplService">
    <wsdl:port binding="tns:AAAWSImplServiceSoapBinding" name="AAAWSImplPort">
      <soap:address location="http://localhost:8080/AAAWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>